* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  gap: 20px;
  height: 100vh;
  display: grid;
  padding: 15px 0;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470");
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #b59963;
}

.white {
  background-color: #f0d9b5;
}

.active-cell {
  padding: 10px;
  border-radius: 50%;
  background-color: mediumseagreen;
}

.input {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-area {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.line {
  width: calc(100% - 8px);
  border-radius: 10px;
  height: 5px;
  bottom: 0px;
  position: absolute;
}

.line-r {
  background-color: #ff5252;
}

.line-g {
  background-color: #329932;
}

.list {
  border-radius: 7px;
  overflow: auto;
  background: white;
  width: 100%;
  padding: 5px 15px 0 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.list ol {
  padding: 0;
}
